# IntelliJ IDEA
/.idea/workspace.xml
/.idea/dataSources.local.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/dictionaries/
*.iml

# Gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/

# OS
.DS_Store
Thumbs.db

db-init/insert-data.sql
